@font-face {
    font-family: "Spotify cirular";
    src: url(/fonts/lineto-circular-black.ttf);
}

@font-face {
    font-family: "Spotify circular II";
    src: url(/fonts/lineto-circular-pro-book.ttf);
}